
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/Scripts/jquery-2.1.4.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap-theme.css")
    @Styles.Render("~/Content/style.css")
    <script type="text/javascript">
        function OnComplete(id) {
        $("#" + id).remove();
        }

        function OnCompleteAdd(parent_id) {
            if (parent_id == null)
                id = "null"
            else
                id = parent_id
            $("#child_" + id).load("/SubTasks/" + id);
        }
    </script>
    <title>@Resources.Resource.AppName</title>
</head>
<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">@Ajax.ActionLink("+ " + @Resources.Resource.Create_new_task, "Create", null, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "page-content-wrapper" }, null)</li>
                <span id="child_null">@Html.Action("SubTasks", "Task")</span>
            </ul>

        </div>
        <div id="page-content-wrapper">
            @RenderBody()
        </div>
        </div>
        

        


        
</body>
</html>
